boto==2.48.0
bz2file==0.98
certifi==2017.4.17
chardet==3.0.4
gensim==2.2.0
idna==2.5
Janome==0.3.2
numpy==1.13.1
PyYAML==5.4
requests==2.18.1
scipy==0.19.1
six==1.10.0
slackbot==0.4.1
slacker==0.9.50
smart-open==1.5.3
urllib3==1.21.1
websocket-client==0.44.0
